<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         version="3.0">

    <servlet>
        <servlet-name>SearchHistoryServlet</servlet-name>
        <servlet-class>com.image.search.SearchHistoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchHistoryServlet</servlet-name>
        <url-pattern>/SearchHistoryServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HistoryServlet</servlet-name>
        <servlet-class>com.image.search.HistoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HistoryServlet</servlet-name>
        <url-pattern>/HistoryServlet</url-pattern>
    </servlet-mapping>

</web-app>
