body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f9f9f9;
}

h1, h2 {
    color: #333;
}

#search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#search-input {
    padding: 10px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 6px 0 0 6px;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
}

.view-history-btn {
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
    padding: 8px 12px;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
}

.result-image {
    width: 250px;
    height: 180px;
    object-fit: cover;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

table {
    width: 100%;
    background-color: white;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: white;
}
